<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	.container {
		height: 400px;
	}
</style>
</head>
<body>
	<div class="container d-flex align-items-center justify-content-center">
		<a class="btn btn-primary fs-1" href="/pizzas">Pizze</a>
		<a class="btn btn-primary ms-5 fs-1" href="/ingredients">Ingredienti</a>
	</div>
</body>
</html>